[submodule "vendor/gb"]
	path = vendor/gb
	url = https://github.com/gaultier/gb.git
[submodule "clone-gitlab-api/vendor/jsmn"]
	path = clone-gitlab-api/vendor/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/gaultier/cJSON.git
[submodule "vendor/sds"]
	path = vendor/sds
	url = https://github.com/antirez/sds.git
[submodule "vendor/lmdb"]
	path = vendor/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "pg/vendor/greatest"]
	path = pg/vendor/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "vendor/greatest"]
	path = vendor/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = https://github.com/h2o/picohttpparser
