[submodule "vendor/greatest"]
	path = vendor/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "vendor/jsmn"]
	path = vendor/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/bearssl"]
	path = vendor/bearssl
	url = https://www.bearssl.org/git/BearSSL
