[submodule "vendor/gb"]
	path = vendor/gb
	url = git@github.com:gaultier/gb.git
[submodule "http-server/vendor/picohttpparser"]
	path = http-server/vendor/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "clone-gitlab-api/vendor/jsmn"]
	path = clone-gitlab-api/vendor/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = git@github.com:gaultier/cJSON.git
